setuptools
numpy
numba
matplotlib
PyQt5
pyyaml
absl-py
pandas
dataclasses-json
h5py
tensorflow-gpu
tensorflow-addons
tensorflow-probability
tensorflow-datasets
itk
SimpleITK
vtk
scikit-image
scikit-learn
scipy
dicom2nifti
nibabel
pydicom
pynrrd
